@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

h1 {    
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: militar;
    font-size: 73px;
    font-weight: normal;
    text-shadow: 3px 5px 7px  black;
    color: rgb(255, 255, 255);
}

#botao1 {
    position: absolute;
    top: 40%;
    left: 32%;
    padding: 15px;
}

#botao1 {
    background: rgb(0, 0, 0);
    border: none;
    z-index: 1;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

#botao1:after{ 
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1px;
    background-color: #ffffff;
    
    box-shadow:inset 2px 2px 2px 0px rgb(255, 255, 255);
    
    transition: all 0.7s ease;
}

#botao1:hover {
    color: #000;
}

#botao1:hover:after{
    top: auto;
    bottom: 0;
    height: 100%;
}



#botao2 {
    position: absolute;
    top: 40%;
    left: 54%;
    padding: 15px;
}

#botao2 {
    background: rgb(0, 0, 0);
    border: none;
    z-index: 1;
    color: white;
    font-family: 'Archivo Black', sans-serif;
}

#botao2:after{ 
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1px;
    background-color: #ffffff;
    
    box-shadow:inset 2px 2px 2px 0px rgb(255, 255, 255);
    
    transition: all 0.7s ease;
}

#botao2:hover {
    color: #000;
}

#botao2:hover:after{
    top: auto;
    bottom: 0;
    height: 100%;
}
































/*
.btn-14 {
    background: rgb(255,151,0);
    border: none;
    z-index: 1;
  }
  .btn-14:after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 5px;
    background-color: #eaf818;
    background-image: linear-gradient(315deg, #eaf818 0%, #f6fc9c 74%);
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5);
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    transition: all 0.3s ease;
  }
  .btn-14:hover {
    color: #000;
  }
  .btn-14:hover:after {
    top: auto;
    bottom: 0;
    height: 100%;
  }
  .btn-14:active {
    top: 2px;
  }
*/